<head>
    <title>skedaddleRoutes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>

<div id="map_wrapper">
    {{#if loading}}
        <div style="position: absolute; top:40%; left:55%; text-align: center; width: 10%; height: 10%">
            <img src="/assets/spinner.gif" style="position: absolute; top:0%; left: 0%; width: 100%;">
        </div>
    {{else}}
        {{> Map}}
    {{/if}}
</div>
{{> Infobox}}

{{> Timeline}}

{{> Infomodal}}

</body>

<template name="Infobox">
    <div id='infobox'>
        <div id="logoholder"><img id='logo' src="/assets/WORDMARK_4C.png"></div>
        <br>
        <h2 class="title">routes</h2>
        <div class="subtitle">Visualize public and private transportation routes created on demand with Skedaddle.</div>

        <div class="colorswitches">
            <div>layer visibility</div>
            <div class="greensw">
                <input type="checkbox" name="green" class="greensw-checkbox" id="mygreensw" {{green_on}}>
                <label class="greensw-label" for="mygreensw">
                    <span class="greensw-inner"></span><span class="greensw-switch"></span></label>
            </div>
            <div class="yellowsw">
                <input type="checkbox" name="yellow" class="yellowsw-checkbox" id="myyellowsw" {{yellow_on}}>
                <label class="yellowsw-label" for="myyellowsw">
                    <span class="yellowsw-inner"></span>
                    <span class="yellowsw-switch"></span>
                </label>
            </div>
            <div class="redsw">
                <input type="checkbox" name="red" class="redsw-checkbox" id="myredsw" {{red_on}}>
                <label class="redsw-label" for="myredsw">
                    <span class="redsw-inner"></span>
                    <span class="redsw-switch"></span>
                </label>
            </div>
        </div>
        <div class="misccontrols">
            <div class="hqlabel">HQ lines</div>
            <div class="hqsw">
                <input type="checkbox" name="hqsw" class="hqsw-checkbox" id="myhqsw" {{HQ}} {{HQ_not_ready}}>
                <label class="hqsw-label" for="myhqsw">
                    <span class="hqsw-inner"></span>
                    <span class="hqsw-switch"></span>
                </label>
            </div>
            <button class="resetview btn btn_g">Reset view</button>
            <!--<button class="HQ">HQ routes</button>-->
        </div>

        <div id="timeline_buttons">
            <div>play animation</div>
            <div class="centralizer">
                <button class="previous btn btn_g"><i class="fa fa-step-backward"></i></button>
                <button class="playpause {{playing}} btn btn_g"><i class="fa fa-{{playpause}}"></i></button>
                <button class="next btn btn_g"><i class="fa fa-step-forward"></i></button>
            </div>
        </div>

        <div class="routeinfo{{ri_visible}}">route info
                <div class="displaycontent">{{{route_info}}}</div>
        </div>
        <button class="moreinfo btn btn_g">more about the app</button>
    </div>
</template>

<template name="Map">
    <div id="gradientoverlay"></div>
    <div id="map" class="mapbox"></div>
    <div id="date_label">{{frame_date}}</div>
    <div id="gradientoverlayb"></div>
</template>

<template name="Timeline">
    <div id="timeline">
        <div class="draginfo">drag slider to select date</div>
        <div id="tml_wrapper">
            <input id='tml_range' type='range' min='{{min_frame}}' max='{{max_frame}}' step='0.05'
                   value='{{tml_value}}'/>
            <div id="reel">
                <div id="rn">{{{rn}}}</div>
            </div>
            <div id="static-output"></div>
        </div>
    </div>
</template>

<template name="Infomodal">
    <div class="infomodal{{modalactive}}">
        <button class="close btn"><i class="fa fa-close"></i> close</button>
        <h2>skedaddle route visualization</h2>
        <p>Visualize public and private routes created on demand with the <b>skedaddle</b> app.</p>
        <!--    "red": '#f07a5f',
    "yellow": '#F0E65F',
    "green": '#7bc89d'-->
        <p>Skedaddle allows everyone to create and join chartered bus routes with just a few clicks.
            Every public route is posted on the website and riders can sign up. However, the trip happens only if
			enough people sign up. As the number of riders reaches the specified threshold, the route goes live. More 
			people can jump on, paying a premium for being sure that the trip will happen.</p>
        <p>Lines and markers that are <span style="color: #f07a5f; font-weight: 600">red</span> denote proposed routes
            <span style="color: #F0E65F; font-weight: 600">yellow</span> routes are close to going live,
            while <span style="color: #7bc89d; font-weight: 600">green</span> means it's happening.
            You will see the green lines flash as live routes successfully commence!</p>
        <p>Run the animation and watch as routes are created, go live, succeed, or fail over the course of 8 months.
            Drag the timeline slider to jump to a particular date. Turn color layers on and off, and hover over routes to
            see more information on the panel. Turn on high quality lines for sharper route display.
        </p>
        <p>Visit the <a href="http://letskedaddle.com">skedaddle website at letskedaddle.com</a></p>
        <br>
        <p>author: Michal Mucha<br>built with Meteor. <br>route data © Skedaddle © Google.<br>maps © <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>.</p>
    </div>
</template>