/* CSS declarations go here */

body {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 0.85em;
}

a {
    color: #666;

}

.infomodal {
    position: absolute; top: 50px;
    left: 300px;
    right: 70px;
    width: auto; height: auto;
    background-color: #FFFFFF;
    color: #666666;
    transition: z-index 0.8s;
    transition: opacity 0.4s;
    z-index: -1;
    padding: 20px;
    opacity: 0;
}
.modal_active {
    opacity: 1;
    transition: z-index 0s;
    transition: opacity 0.4s;
    z-index: 6;
}

div#map_wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
div#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

div#timeline {
    z-index: 4;
    position: absolute;
    bottom: 60px;
    left: 300px;
    width: auto;
    right: 70px;
    height: 64px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.0) 45%, rgba(255,255,255,0.7) 45%, rgba(255,255,255,0.7));
    color: rgba(102,102,102,0);
    transition: color 0.3s;
}

div#infobox {
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 70px;
    width: 180px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(164,221,241,0.65) 10%,
                        rgba(164,221,241, 0.5) 90%, rgba(255,255,255,1));
    padding: 1%;
    padding-top: 2%;
    padding-right: 1%;
    text-align: center;
}

div#date_label {
    position: absolute;
    text-align: center;
    width: 150px;
    right: 70px;;
    top: 70px;
    height: 24px;
    padding: 3px;
    opacity: 0.6;
    background-color: rgba(255,255,255,0.8);
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: bold;
    color: #666;
    font-size: 16px;
    z-index: 5;
}

div #logoholder {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    height: 11%;
    left: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    /*background: #FFFFFF;*/
    /*background: linear-gradient(to bottom, white, #a4ddf1);*/
}

div#gradientoverlay {
    background: linear-gradient(to bottom, white, rgba(255,255,255,0));
    position: absolute;
    width: 100%;
    top: 0;
    height: 7%;
    left:0;
    z-index: 1;
}
div#gradientoverlayb {
    background: linear-gradient(to bottom, rgba(255,255,255,0), white);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 7%;
    left:0;
    z-index: 1;
}

img#logo {
    position: absolute;
    top: 20px;
    left: 5%;
    width: 90%;
    height: auto;
}

/*
	Track height = 5px
	Slider thumb height = 25px(5px over the track, 10px above and below)
	Reel width/height = 34px = slider thumb width = static output width
*/
.draginfo {
    position: absolute;
    font: bold 1.1em 'Helvetica Neue', 'Helvetica', sans-serif;
    left: 40px; top: 110%;
    color: inherit;
}
#timeline:hover {
    color: rgba(102,102,102,0.8);
    transition: color 0.3s;
}

#tml_wrapper {
    width: 94%;
    left: 3%;
    margin: 0 auto;
    position: absolute;
    /*padding: 34px on top for #reel, 10px on top/bottom for slider thumb*/
    padding-top: 44px;
    padding-bottom: 10px;
    /*To hide the extra portion of the completed track on the left*/
    overflow-x: hidden;
}
#tml_range {
    display: block;
    appearance: none;
    outline: none;
    -webkit-appearance: none;
    height: 5px; width: 100%;
    background: rgba(102, 102, 102, 0.8);
    transition: all 0.2s;
}
#tml_range::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    height: 10px; width: 108px;
    position: relative;
}
#tml_range::-webkit-slider-thumb:after {
    content: '';
    background: rgba(123, 200, 157, 0.9);
    /*font: bold 17px/25px Sniglet; color: white;*/
    width: 108px; height: 25px;
    position: absolute; top: -10px; left: 0;
    color: transparent; transition: color 0.25s;
}
/*completed part of the track on the left side*/
#tml_range::-webkit-slider-thumb:before {
    height: 10px; width: 100%;
    background: rgba(123, 200, 157, 0.8);
    position: absolute;
    top:0;
    left:0;
    /*prevent click obstruction for the real slider track beneath*/
    pointer-events: none;
    z-index: 3;
}
/*reel styles*/
#reel {
    width: 108px; height: 34px;
    overflow: hidden;
    position: absolute; top: 0; /*left pos will be controlled by JS*/
    opacity: 0; transition: opacity 0.25s;
    z-index: 4;
}
#rn {
    background: rgba(123, 200, 157, 0.8);
    z-index: 5;
    transition: all 0.25s; /*vertical movement animation for the reel*/
}
#rn span {
    font: 20px/34px 'Helvetica Neue', 'Helvetica', sans-serif; color: white;
    display: block; text-align: center;
    z-index: 6;
}
/*static output styles*/
#static-output {
    font: 15px/23px 'Helvetica Neue', 'Helvetica', sans-serif; color: white;
    font-weight: 500;
    position: absolute; bottom: 3px;
    height: 25px; width: 108px; text-align: center;
    /*disable clicks so that the slider thumb can be controlled*/
    pointer-events: none;
    transition: color 0.25s;
    z-index: 6;
}

/*animation styles using .active. The reel and arrows will stay hidden by default. On user activity the static output will fade away and the reel and arrows will fade in*/
.active #reel {opacity: 1;}
.active #static-output {color: transparent;}
.active #tml_range::-webkit-slider-thumb:after {color: white;}

/*
Checkboxes
*/
.greensw {
    position: absolute; width: 40px;
    left: 5%; bottom: 10px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.greensw-checkbox, .yellowsw-checkbox, .redsw-checkbox {
    display: none;
}
.greensw-inner, .yellowsw-inner, .redsw-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.15s ease-in 0s;
}
.greensw-inner:before, .greensw-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 15px;
    box-sizing: border-box;
}
.greensw-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #7bc89d; color: #FFFFFF;
}
.greensw-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.greensw-checkbox:checked + .greensw-label .greensw-inner {
    margin-left: 0;
}
.greensw-checkbox:checked + .greensw-label .greensw-switch {
    right: 0px;
}

/* */
.yellowsw {
    position: absolute; width: 40px;
    left: 40%; bottom: 10px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.yellowsw-inner:before, .yellowsw-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 15px;
    box-sizing: border-box;
}
.yellowsw-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #F0E65F; color: #FFFFFF;
}
.yellowsw-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.yellowsw-checkbox:checked + .yellowsw-label .yellowsw-inner {
    margin-left: 0;
}
.yellowsw-checkbox:checked + .yellowsw-label .yellowsw-switch {
    right: 0px;
}
.redsw {
    position: absolute; width: 40px;
    right: 5%; bottom: 10px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.redsw-label, .greensw-label, .yellowsw-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 0px;
}
.redsw-inner:before, .redsw-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 15px;
    box-sizing: border-box;
}
.redsw-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #f07a5f; color: #FFFFFF;
}
.redsw-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.redsw-switch, .greensw-switch, .yellowsw-switch {
    /*height: 100%;*/
    display: block; width: 15px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0px; bottom: 0px;
    right: 21px;
    border: 2px solid #FFFFFF; border-radius: 0px;
    transition: all 0.15s ease-in 0s;
}
.redsw-checkbox:checked + .redsw-label .redsw-inner {
    margin-left: 0;
}
.redsw-checkbox:checked + .redsw-label .redsw-switch {
    right: 0px;
}

.hqlabel, .hqsw {
    left: 5%;
    position: absolute;
}

.hqlabel {
    top: 10px;
    font-size: 1em;
    padding-left: 8px;
    font-weight: bold;
}

.hqsw {
    top: 28px;
    width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.hqsw-checkbox {
    display: none;
}
.hqsw-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF;
}
.hqsw-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.15s ease-in 0s;
}
.hqsw-inner:before, .hqsw-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px; /* color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;*/
    box-sizing: border-box;
}
.hqsw-inner:before {
    text-align: left;
    content: "ON";
    left: 10px;
    padding-left: 9px;
    background-color: #FFFFFF; color: #666;
}
.hqsw-inner:after {
    content: "OFF";
    padding-right: 6px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.hqsw-switch {
    /*height: 100%;*/
    display: block; width: 28px; margin: 1px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border: 2px solid #FFFFFF;
    transition: all 0.15s ease-in 0s;
}
.hqsw-checkbox:checked + .hqsw-label .hqsw-inner {
    margin-left: 0;
}
.hqsw-checkbox:checked + .hqsw-label .hqsw-switch {
    right: 0px;
    background-color: #666;
}

div .colorswitches, div.misccontrols, div.routeinfo, #timeline_buttons {
    padding-top: 1%;
    /*border: dashed 1px #FFFFFF;*/
    position: absolute;
    left: 0%;
    width: 100%;
    color: #FFFFFF;
}
div .colorswitches {
    top: 170px;
    height: 50px;
    font-weight: bold;
    align-items: center;
}
div.misccontrols {
    top: 220px;
    height: 60px;
}

.resetview {
    position: absolute;
    right: 5%;
    top: 11px;
    height: 42px;
    width: 40%;
}

.routeinfo {
    top: 370px;
    height: 165px;
    font-weight: bold;
    background: linear-gradient(to bottom, rgba(255,255,255,0.0), rgba(164,221,241,0.7) 18%,
    rgba(164,221,241,0.7) 80%, rgba(164,221,241,0.0));
    opacity: 0;
    transition: opacity 0.35s;
}
.displaycontent {
    font-size: 1em;
    position: absolute;
    /*left:25px;*/
    top: 25px;
    width: 100%; height: 90%;
    font-weight: 500;
    z-index: 5;
    color: #fff;
    text-align: center;
}
.dsp {
    transition: opacity 0.35s;
    opacity: 1;
}

button.moreinfo {
    width: 96%;
    height: 37px;
    bottom: 100px;
    position: absolute;
    left: 2%;
}

div.subtitle {
    text-align: justify;
    color: #FFFFFF;
}

.title {
    margin-top: 30px;
    color: #FFFFFF;
    z-index: 3;
}

/* General button style (reset) */
.btn {
    border: none;
    font-family: inherit;
    font-size: 0.9em;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    /*position: relative;*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.btn_g {
    /*border: 2px rgba(123, 200, 157, 0.7);*/
    background: rgba(123, 200, 157, 0.8);
    color: #fff;
}

/* Button 1a */
.btn_g:hover,
.btn_g:active {
    color: #7bc89d;
    background: rgba(255,255,255,0.8);
}
.playpause, .previous, .next{
    font-size: 1.1em;
    height: 35px; width: 40px;
    margin-left: 2px; margin-right: 2px;
}
.playing {
    /*border: 2px solid #F0E65F !important;*/
    background: #F0E65F !important;
    color: #fff !important;
    transition: all 0.2s;
}
.playing:hover, .playing:active {
    color: #F0E65F !important;
    background: #fff !important;
    transition: all 0.2s;
}

#timeline_buttons {
    align-items: center;
    top: 285px;
    font-weight: bold;
    color: #FFFFFF;
    height: 65px;
}
.centralizer {
    margin-top: 6px;
    position: relative;
    text-align: center;
    align-items: center;
    /*left: 30%;*/
}

button.close {
    position: absolute; top:0px; right: 0px;
    padding: 15px;
    border: 2px #666 !important;
    background: #666;
    color: #fff;
}

button.close:hover,
button.close:active {
    border: 2px #666 !important;
    color: #666;
    background: #fff;
}
